{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pytoday Blog</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<!-- Static navbar -->
<nav class="container">
    <div class="container">
    <!-- <p><b><font color="#dc143c">app:stuapp--header</font></b></p> -->

        <div class="nav-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            </button>
            <a class="navbar-brand" href="{% url 'stuapp:index' %}">
                Pytoday Blog
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'stuapp:topics' %}">Topics</a></li>
            </ul>

            <ul class="nav navbar=nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a>Hello, {{ user.username }}.</a></li>
                    <li><a href="{% url 'users:logout' %}">logout</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">login</a></li>
                    <li><a href="{% url 'users:register' %}">register</a></li>
                {% endif %}
            </ul>
        </div>  <!--/.nav-collapse -->

    </div>
</nav>

    <div class="containner">

        <div class="page-header">
            {% block header %} {% endblock header %}
        </div>
        <div>
            {% block content %} {% endblock content %}
        </div>

    </div>
<!-- <p><b>foot....</b></p> -->
</body>
</html>